* {
    margin: 0;
    padding: 0;
}
  .hed{
    background-color: #05099c;
      width: auto;
           padding: 1% 0%;
           
}
.hed::before {
      /*content: '';*/
    background: rgba(27, 21, 18, 0.46);
    position: absolute;
    top: 97px;
    left: 0;
    width: auto;
        z-index: 9;
    padding: 10% 50%;
}
.text{
    position: relative;
    color: cornsilk;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
    font-size: 35pt;

}
.imagen{
    margin: auto;
    width: 60%;

}
/*input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}
*/

   .container{
           width: auto;
    margin: 0 auto;
    position: relative;
   

   }

.content{
  position: relative;
  width: auto;
  max-width: 100%;
  padding: 1% 10%;
}
.container.subcontent{
  position: relative;
  background: rgba(204, 204, 204, 0.55);
  border-radius: 10px;
  padding: 46px 26px;
  border: solid 1px #D1D2D3;
  width: 100%;
  max-width: 76%;
  margin: 0 auto;
  z-index: 9;
 /* text-align: center*/
  text-shadow: 1px 9px 6px rgba(150, 150, 150, 1);
  }
.imgs{
  margin: auto;
  width: 56%;
}



/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */


input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}
